/* Styles globaux */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Styles pour la barre de navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #007bff;
}

/* Padding top pour le contenu pour ne pas être caché derrière la navbar fixe */
.App {
  padding-top: 50px;
}

.user-greeting {
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px; /* Ajustez la largeur minimale selon le besoin */
  max-width: 300px; /* Empêche le débordement de l'écran */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  box-sizing: border-box; /* Inclut padding et bordures dans le calcul de la largeur */
  text-align: left; /* Alignement du texte à gauche */
  right: 0; /* Ajustez cette valeur pour contrôler le positionnement horizontal */
}

.dropdown-content a, .dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, .dropdown-content button:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown-content button {
  width: 100%; /* Assurez-vous que les boutons s'ajustent à la largeur du dropdown */
  border: none;
  background: none;
}
