table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

th, td {
  padding: 12px 15px; 
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}

th {
  background-color: #f8f8f8; 
  color: #333; 
  font-weight: 600; 
}

tr:nth-child(even) {
  background-color: #fafafa; 
}

tr:hover {
  background-color: #f1f1f1; 
  cursor: pointer; 
}

a {
  color: #007bff; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}

div[name="dashboard"] {
  display:flex;
  margin-top: 5%;
  width: 100%;
}

div[name="dashboard"] button {
  background-color: #2C3E50; 
  color: white;
  padding: 10px 24px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-btn {
  width: 150px;
  height: 50px;
}

div[name="dashboard"] button:hover {
  background-color: #333; 
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="url"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
}

textarea {
  height: 100px;
  resize: vertical; 
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #2C3E50; 
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #BDC3C7; 
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}


input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
  border-color: #BDC3C7; 
  outline: none; 
}


.message {
  color: #d32f2f; 
  font-size: 0.9rem;
  margin-top: 10px;
}

.success {
  color: #388e3c; 
}



.table-users {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-users th,
.table-users td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #f8f8f8;
}

.table-users th {
  background-color: #f8f8f8;
  color: #333;
  text-transform: uppercase;
}

.table-users tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-users tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.button-edit {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffa726;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-edit:hover {
  background-color: #fb8c00;
}

.message {
  margin-top: 15px;
  color: #388e3c; 
  font-size: 0.9rem;
}

.button-delete {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f44336; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-delete:hover {
  background-color: #d32f2f; 
}

.sidebar {
  background-color: #333;
  width: 250px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 10px;
  margin-right: 20px; 
  height: auto; 
}

.navbtn {
  width: 100%; 
  margin-bottom: 8px; 
  margin-left: 0%;
  text-align: center; 
}


.components {
  margin-top: 3%;
  flex-grow: 1;
  min-height: 100vh;
}

.modal-backdrop {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); 
  z-index: 1001; 
  border-radius: 5%;
}

.cancel-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #2C3E50; 
  color: red;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.totalsites {
  font: italic;
  color: grey;
}

.form-message {
    color: #d35400; 
    text-align: center;
}


.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.pagination-controls button {
  background-color: #2C3E50; 
  color: white; 
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #dcdcdc; 
  cursor: not-allowed;
}

.pagination-controls button:disabled:hover {
    background-color: #dcdcdc; 
}
.pagination-controls button:not(disabled):hover {
  background-color: #dcdcdc; 
}


.pagination-controls span {
  margin: 0 10px;
}

.newsite-btn {
  margin-bottom: 1%;
}