.modal-backdrop {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); 
  z-index: 1000; 
}

.signin-form-container {
  position: relative; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1001; 
  
}
  .signup-form {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    margin: auto;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  }
  
  .signup-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px; 
  }
  
  .signup-form .form-control {
    margin-bottom: 20px;
  }
  
  .signup-form .form-control label {
    display: block;
    color: #333;
    margin-bottom: 5px;
  }
  
  .signup-form .form-control input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
  }
  
  .signup-form .submit-btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .signup-form .submit-btn:hover {
    opacity: 0.9;
  }
  
  .signup-form .form-footer {
    text-align: center;
    margin-top: 30px; 
  }
  
  .signup-form .form-footer a {
    color: #007bff;
    text-decoration: none;
    margin: 10px 15px; 
  }
  
  .signup-form .form-footer a:hover {
    text-decoration: underline;
  }
  
  .close-btn {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    border: none;
    background: none;
    font-size: 20px; 
    cursor: pointer;
    color:black;
  }
  
  
  .close-btn:hover {
    color: #f00; 
  }
  
  .link-like-button {
    background: none;
    color: blue; 
    border: none;
    padding: 0;
    font: inherit; 
    cursor: pointer;
    outline: inherit;
    text-decoration: underline; 
  }
  
  .link-like-button:hover,
  .link-like-button:focus {
    color: darkblue; 
    text-decoration: none; 
  }
  